# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask
instance/
*.pyc
.env

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Compiled files
*.exe
*.dll
*.so
*.dylib

# Miscellaneous
.DS_Store
