{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Host</h1>
    <p>code: {{ code }}</p>
    <div id="player-list" class="player-list">
        {% for item in context %}
        <div class="player-item">
            <span>Player: {{ item.name }}</span>
            <span>Role: {{ item.role }}</span>
        </div>
        {% else %}
        <p>No players yet</p>
        {% endfor %}
    </div>
    {% if status == "waiting" %}
    <form action="{{ url_for('host_bp.start_game', code=code ) }}" method="post">
        <button id="start-game" class="btn btn-primary btn-lg btn-block mt-3">Start Game</button>
    </form>
    {% else %}
    <form action="{{ url_for('host_bp.end_game', code=code ) }}" method="post">
        <button id="start-game" class="btn btn-primary btn-lg btn-block mt-3">End Game</button>
    </form>
    {% endif %}
</div>

<script type="text/javascript" charset="utf-8">
    var socket = io();
    var roomCode = "{{ code }}";

    socket.on('connect', function () {
        socket.emit('join_room', { room: roomCode });
    });

    socket.on('update_player_list', function (data) {
        var playerList = document.getElementById("player-list");
        playerList.innerHTML = "";

        data.players.forEach(function (player) {
            var playerItem = document.createElement("div");
            playerItem.className = "player-item";
            playerItem.innerHTML = "<span>Player: " + player.name + "</span><span>Role: " + player.role + "</span>";
            playerList.appendChild(playerItem);
        });
    });
</script>
{% endblock %}
