{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h2>Your Role</h2>
    <div class="role">
        <div class="card">
            <div class="card-face card-front">
                <h2 id="role-display">{{ player.role if player.role else '?' }}</h2>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    var socket = io();
    var playerName = "{{ player.name }}";

    socket.on('connect', function () {
        console.log('Connected to server');
        socket.emit('join_room', { room: "{{ player.room_code }}" });
    });

    socket.on('update_roles', function (data) {
        console.log(data);
        var updatedPlayer = data.players.find(function (player) {
            return player.name === playerName;
        });

        if (updatedPlayer) {
            var roleDisplay = document.getElementById('role-display');
            roleDisplay.textContent = updatedPlayer.role;
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        var card = document.querySelector('.card');

        card.addEventListener('touchstart', function () {
            card.classList.add('hover');
        });

        card.addEventListener('touchend', function () {
            card.classList.remove('hover');
        });
    });
</script>

{% endblock %}